.Message {
    display: flex;
    width: 100%;
    .MessageContainer {
      flex: 6;

      
      
      
        button {
          width: 150px;
          padding: 10px;
          
          border: none;
          background-color: black;
          color: white;
          font-weight: bold;
          cursor: pointer;
          margin-top: 10px;
        }
      
    }
    
  }